# .env.example
# Create a .env file locally with the actual values. DO NOT commit actual secrets.

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/justicelinker?useSSL=false&serverTimezone=Asia/Kolkata&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=Krishna@31540

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=justicelinker.noreply@gmail.com
SPRING_MAIL_PASSWORD=xsorwsmlkhpntngp

JWT_SECRET=JusticeLinkerSecretKeyForJWTTokenGeneration2026MustBeAtLeast256Bits

CLOUDINARY_CLOUD_NAME=dqccynkls
CLOUDINARY_API_KEY=693998595316399
CLOUDINARY_API_SECRET=o9OB1j3_vo44AW-NUkmWtIUzFsU

FRONTEND_URL=http://localhost:5173
